@charset "utf-8";
/* 全局样式 */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
  font-weight: normal;
  text-decoration: none;
  cursor: default;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000;
  word-wrap: break-word;
  vertical-align: baseline;
  -webkit-text-size-adjust: none;
  font-family: Microsoft YaHei, "微软雅黑", Lucida, Verdana, Hiragino Sans GB, STHeiti, WenQuanYi Micro Hei, Droid Sans Fallback, SimSun, sans-serif;
  font-weight: 400;
}
::selection {
  color: #fff;
  background-color: #666;
  text-shadow: none;
}
::-moz-selection {
  color: #fff;
  background-color: #666;
  text-shadow: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h1 {
  font-size: 36px;
  line-height: 36px;
}
h2 {
  font-size: 30px;
  line-height: 30px;
}
h3 {
  font-size: 25px;
  line-height: 25px;
}
h4 {
  font-size: 21px;
  line-height: 21px;
}
h5 {
  font-size: 18px;
  line-height: 18px;
}
h6 {
  font-size: 15px;
  line-height: 15px;
}
.clear {
  clear: both;
  font-size: 1px;
  width: 1px;
  height: 0;
  visibility: hidden;
  margin-top: 0px!important;
  *margin-top: -1px;
  line-height: 0;
}
b,
i,
u {
  font-weight: normal;
  font-style: normal;
}
/* Default Link */
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
  outline-style: none;
}
a:active,
a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
/* 动画 */
/* webfont 自定义字体 */
@font-face {
  font-family: 'jojoinIconFont';
  src: url('/webfont//jojoin-icon.eot');
  src: url('/webfont//jojoin-icon.eot?#iefix') format('embedded-opentype'), url('/webfont//jojoin-icon.woff') format('woff'), url('/webfont//jojoin-icon.ttf') format('truetype'), url('/webfont//jojoin-icon.svg#jojoinIconFont') format('svg');
  font-weight: normal;
  font-style: normal;
}
.font-icon {
  font-family: 'jojoinIconFont', Microsoft YaHei, "微软雅黑", Lucida, Verdana, Hiragino Sans GB, STHeiti, WenQuanYi Micro Hei, Droid Sans Fallback, SimSun, sans-serif;
}
.font-title {
  font-family: Georgia, "Times New Roman", Times, "Kai", "Kaiti SC", "KaiTi", "BiauKai", "楷体", "楷体_GB2312", serif;
}
.font-title-icon {
  font-family: 'jojoinIconFont', Georgia, "Times New Roman", Times, "Kai", "Kaiti SC", "KaiTi", "BiauKai", "楷体", "楷体_GB2312", serif;
}
.paper {
  margin: auto;
  margin-top: 10%;
  width: 68%;
}
.paper h1 {
  line-height: 100px;
  font-size: 100px;
  font-weight: 900;
  color: #333;
}
.paper strong {
  display: inline-block;
  vertical-align: text-bottom;
  line-height: 45px;
  font-size: 25px;
  font-weight: 900;
  margin-left: 5%;
}
.paper p {
  margin-top: 25px;
  font-size: 16px;
  line-height: 26px;
}
.paper p a {
  text-decoration: underline;
}
.paper p .msg {
  display: block;
  border-radius: 6px;
  background: #fefefe;
  border: #f0f0f0 solid 1px;
  padding: 16px;
  margin: 10px 0;
}
